// Typography

@include title-size('≥');

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h,
side-h{
  font-family: $headings-font-family;
  font-weight: 700;
  margin: 0 0 30px;
  line-height:1.2;
}

p {
  margin: 0 0 30px;
}

a {
  color: $white;
  text-decoration: $text-decoration;
  &:hover,
  &:focus {
    color: $white;

    text-decoration: $text-decoration-hover;
  }
}

side-h { /* самый большой плавающий вертикальный заголовок*/
  font-size: 120px;
}

h1 {
  font-size: 72px;
  line-height:1.2;
}

h2 {
  font-size: 40px;
  letter-spacing:-2px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 20px;
}

.t1 {
  font-size: 15px;
  line-height: 22px;
}

.t2 {
  font-size: 11px;
}

.t3 {
  font-size: 13px;
}
