// Typography

@include title-size('≥');

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h,
side-h{
  font-family: $headings-font-family;
  font-weight: 700;
  margin: 0 0 30px;
  line-height:1.2;
}

p {
  margin: 0 0 30px;
}

a {
  color: $white;
  text-decoration: $text-decoration;
  &:hover,
  &:focus {
    color: $white;

    text-decoration: $text-decoration-hover;
  }
}

side-h { /* самый большой плавающий вертикальный заголовок*/
  font-size: 120px;
}

h1 { /*основной заголовок разделов*/
  font-size: 72px;
  line-height:1.2;
}

h2 { /*второстепенный заголовок разделов*/
  font-size: 40px;
  letter-spacing:-2px;
}

h3 { /*заголовок-обозначение размеров баннеров*/
  font-size: 30px;
}

h4 { /*заголовок внутри большого драг и дропа*/
  font-size: 26px;
}

h5 { /*заголовок шапки таблиц*/
  font-size: 20px;
}

.t1 { /*основной текст*/
  font-size: 15px;
  line-height: 22px;
}

.t2 { /*вспомогательный текст, встречающийся как сноски или подсказки*/
  font-size: 11px;
}

.t3 { /*кнопки*/
  font-size: 13px;
}

///*Самое важное в этом проекте - это соблюдение логики отступов.
//Необходмо стараться использовать градации одного отступа,
//посредством деления или умножения на целые числа типа 4, 3 или 2*/

//
///*Основным отступом является =*/ 30px;
//
///*Отступ между разделами умножается на 4 =*/ 120px; /*есть исключения, см. .psd*/
//
///*Отступ между заголовками умножается на 2 =*/ 60px;
//
///*Отступ от заголовка до текста или графического контента умножается на 1 =*/ 30px;
//
//t2 { /*вспомогательный текст, встречающийся как сноски или подсказки*/
//  font-size: 11px;
//}
