@charset "UTF-8";
.clearfix:after, dl:after, .content-area:after, .product:after, .product .product-area:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.display-inline {
  display: inline; }

.text-white-color {
  color: #fff !important; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  color: #261e38;
  background: linear-gradient(135deg, #333047, #312e44);
  font: 15px/22px "Lora", serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; }

#wrapper {
  background: #2d2b3f;
  width: 100%;
  overflow: hidden;
  position: relative; }

.container-lg {
  background: linear-gradient(135deg, #333047, #312e44); }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.gm-style img {
  max-width: none; }

@media (max-width: 1023px) {
  iframe {
    width: 100%; } }

blockquote {
  border-left: 4px solid #999;
  padding-left: 10px;
  margin-left: 0; }

table {
  border-collapse: collapse; }

th,
td {
  border: 1px solid #999;
  padding: 3px;
  text-align: left;
  vertical-align: top; }

th {
  text-align: center;
  vertical-align: middle; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none; }

dl dt {
  float: left;
  clear: left;
  padding-right: 0.3em;
  font-weight: bold; }

dl dd {
  overflow: hidden; }

pre {
  max-width: 100%;
  overflow: auto; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #1f1f1f;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 16px;
  font-family: "Lora", serif; }
  input[type='text']:not(textarea),
  input[type='tel']:not(textarea),
  input[type='email']:not(textarea),
  input[type='search']:not(textarea),
  input[type='password']:not(textarea),
  textarea:not(textarea) {
    height: 29px; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus {
    outline: none;
    border-color: #1f1f1f; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #999; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #999; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #999; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #999; }
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  textarea.placeholder {
    color: #999; }

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: textfield; }

select {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  height: 29px;
  border: 1px solid #1f1f1f;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 16px; }
  select:focus {
    outline: none; }

textarea {
  resize: vertical;
  vertical-align: top; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  transition: background 0.3s ease-in-out;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  background: #999;
  color: #261e38;
  border: 1px solid #1f1f1f;
  outline: none;
  height: 29px;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 16px; }
  button:hover,
  input[type='button']:hover,
  input[type='reset']:hover,
  input[type='file']:hover,
  input[type='submit']:hover {
    background: #1f1f1f;
    color: #fff; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 16px; }

h3 {
  font-size: 15px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 14px; }

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 40px; }
  h2,
  .h2 {
    font-size: 30px; }
  h3,
  .h3 {
    font-size: 28px; }
  h4,
  .h4 {
    font-size: 20px; }
  h5,
  .h5 {
    font-size: 18px; }
  h6,
  .h6 {
    font-size: 16px; } }

@media (min-width: 1024px) {
  h1,
  .h1 {
    font-size: 40px; }
  h2,
  .h2 {
    font-size: 30px; }
  h3,
  .h3 {
    font-size: 28px; }
  h4,
  .h4 {
    font-size: 20px; }
  h5,
  .h5 {
    font-size: 18px; }
  h6,
  .h6 {
    font-size: 16px; } }

@media (min-width: 1300px) {
  h1,
  .h1 {
    font-size: 40px; }
  h2,
  .h2 {
    font-size: 30px; }
  h3,
  .h3 {
    font-size: 28px; }
  h4,
  .h4 {
    font-size: 20px; }
  h5,
  .h5 {
    font-size: 18px; }
  h6,
  .h6 {
    font-size: 16px; } }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h,
side-h {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  margin: 0 0 30px;
  line-height: 1.2; }

p {
  margin: 0 0 30px; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover, a:focus {
    color: #fff;
    text-decoration: none; }

side-h {
  /* самый большой плавающий вертикальный заголовок*/
  font-size: 120px; }

h1 {
  font-size: 72px;
  line-height: 1.2; }

h2 {
  font-size: 40px;
  letter-spacing: -2px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 20px; }

.t1 {
  font-size: 15px;
  line-height: 22px; }

.t2 {
  font-size: 11px; }

.t3 {
  font-size: 13px; }

.btn {
  background: #666277;
  color: #261e38;
  padding: 7px 13px;
  font-size: 11px;
  line-height: 16px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
  min-width: 75px;
  text-align: center;
  font-family: "Ubuntu", sans-serif; }
  .btn.rounded {
    min-width: 0;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%; }
    .btn.rounded .fa {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -7px 0 0 -5px;
      font-size: 13px; }
  .btn-yellow {
    background: linear-gradient(135deg, #fede6b, #ffc27c);
    color: #fff; }
    .btn-yellow:hover {
      box-shadow: 0 0 10px rgba(255, 222, 233, 0.1); }
  .btn-violet {
    background: linear-gradient(135deg, #9a84ff, #747aff);
    color: #fff; }
    .btn-violet:hover {
      box-shadow: 0 0 10px rgba(255, 222, 233, 0.1); }
  .btn-violet-passive {
    background: #666277;
    color: #fff; }
    .btn-violet-passive:hover {
      background: linear-gradient(135deg, #6193fe, #747aff); }
  .btn-paypal {
    background: linear-gradient(135deg, #2c7cd4, #2b4da2); }
    .btn-paypal:hover {
      background: linear-gradient(135deg, #2883c5, #2b4da2); }
  .btn-paypal-donate {
    background: linear-gradient(135deg, #2c7cd4, #2b4da2); }
    .btn-paypal-donate:hover {
      background: linear-gradient(135deg, #2883c5, #2b4da2); }
  .btn-reddit {
    background: linear-gradient(135deg, #ff9959, #ff7824); }
    .btn-reddit:hover {
      background: linear-gradient(135deg, #ff7c4c, #ff7824); }
  .btn-twitter {
    background: linear-gradient(135deg, #069dff, #0199fb); }
    .btn-twitter:hover {
      background: linear-gradient(135deg, #00b4f9, #0199fb); }
  .btn-vk {
    background: linear-gradient(135deg, #4582c9, #3e72b1); }
    .btn-vk:hover {
      background: linear-gradient(135deg, #438bc0, #3e72b1); }
  .btn.vk {
    background: #4481c6; }
  .btn.twitter {
    background: #039cff; }
  .btn-facebook {
    background: linear-gradient(135deg, #3265d3, #2c56b5); }
    .btn-facebook:hover {
      background: linear-gradient(135deg, #2f71ca, #2c56b5); }
  .btn-sm {
    padding: 2px; }

#socials-list {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  text-align: left;
  transition: all 0.3s ease; }
  #socials-list.dinamic-position {
    transform: translateY(0); }
  #socials-list li {
    margin: 0 0 10px;
    width: 100px;
    transform: translateX(72px);
    transition: all 0.3s ease-in-out; }
    #socials-list li.active {
      transform: translateX(22px); }
  #socials-list .fa {
    float: left;
    font-size: 15px;
    margin: 0 10px 0 0;
    width: 13px; }
  #socials-list a {
    overflow: hidden;
    display: block;
    text-align: left; }
  #socials-list .btn {
    color: #fff;
    text-transform: capitalize;
    border-radius: 15px 0 0 15px;
    height: 30px;
    padding: 7px 5px 5px 7px;
    font-size: 10px; }
  #socials-list .btn-facebook .fa {
    margin-left: 4px;
    margin-right: 4px; }
  #socials-list .btn-twitter .fa {
    margin-left: 2px; }

#tooltip {
  text-align: center;
  color: #fff;
  background: #111;
  position: absolute;
  z-index: 100;
  padding: 2px 7px;
  border-radius: 10px;
  min-width: 50px;
  font-size: 13px; }
  #tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px; }
  #tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto; }
  #tooltip.left:after {
    left: 10px;
    margin: 0; }
  #tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0; }

/* Slider */
.slick-slider {
  display: none; }

@media (max-width: 768px) {
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }
  .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0; }
    .slick-list:focus {
      outline: none; }
    .slick-list.dragging {
      cursor: pointer;
      cursor: hand; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    transform: translate3d(0, 0, 0); }
  .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .slick-track:before, .slick-track:after {
      content: "";
      display: table; }
    .slick-track:after {
      clear: both; }
    .slick-loading .slick-track {
      visibility: hidden; }
  .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none; }
    [dir="rtl"] .slick-slide {
      float: right; }
    .slick-slide img {
      display: block; }
    .slick-slide.slick-loading img {
      display: none; }
    .slick-slide.dragging img {
      pointer-events: none; }
    .slick-initialized .slick-slide {
      display: block; }
    .slick-loading .slick-slide {
      visibility: hidden; }
    .slick-vertical .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent; }
  .slick-arrow.slick-hidden {
    display: none; } }

#header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  padding: 30px;
  font-weight: 700; }

.header-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 3px 0 0 0; }

.logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
  color: #fff;
  font-weight: 700; }
  .logo:hover {
    color: #fff; }
  .logo img {
    max-width: 100%;
    display: block; }
  .logo .icon-area {
    width: 40px;
    display: block;
    float: left; }
  .logo span {
    padding-left: 10px;
    letter-spacing: -1px; }

.modes {
  color: #7b7988;
  font-size: 12px; }

.nav-page {
  padding-left: 30px; }

.day {
  display: none; }

.switch {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 35px;
  border-radius: 10px;
  margin: 0 0 0 10px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00ff00;
  transition: .4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
    transform: translateX(15px); }

input:checked + .slider {
  background-color: #d3d3d3; }

input:focus + .slider {
  box-shadow: 0 0 1px #ececec; }

input:checked + .slider:before {
  transform: translateX(0); }

.slider.round {
  border-radius: 34px; }
  .slider.round:before {
    border-radius: 50%; }

.container {
  max-width: 1470px;
  margin: 0 auto; }

.container-lg {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.drop-drag-area {
  margin: 0 0 30px;
  min-height: 403px;
  line-height: 18px;
  font-size: 15px; }

.drop-drag-holder {
  background: #3a3650;
  border-radius: 15px;
  padding: 30px;
  margin: 0 20px;
  overflow: hidden; }

.section-text {
  margin: 0 0 55px; }
  .section-text h2 {
    margin: 0 0 8px;
    color: #fdfdff; }

.content-area {
  color: #7b7988;
  margin-bottom: 123px; }

.content-holder {
  overflow: hidden;
  padding: 5px; }

.aside-large {
  border-radius: 15px;
  overflow: hidden;
  width: 20.5%;
  height: 600px;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px; }

.text-center {
  text-align: center; }

.title-des {
  font-size: 20px;
  color: #7b7988; }

.text-switcher {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  list-style: none; }
  .text-switcher li.active .btn {
    background: linear-gradient(135deg, #6193fe, #747aff); }
  .text-switcher .material-icons {
    font-size: 16px; }
  .text-switcher .btn-icons {
    position: relative;
    padding-left: 36px; }
    .text-switcher .btn-icons .material-icons {
      position: absolute;
      left: 15px;
      top: 7px; }
    .text-switcher .btn-icons .content_copy {
      font-size: 12px;
      top: 9px; }

.drag-action {
  background: #454159;
  height: 480px;
  border: 5px dashed #666277;
  border-radius: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .drag-action .drag-title {
    color: #fff;
    font-size: 25px;
    margin: 8px 0;
    letter-spacing: -1px; }
  .drag-action .material-icons {
    font-size: 39px;
    margin: 0 0 15px; }
  .drag-action p {
    margin: 0;
    font-size: 13px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #6390fe; }

.droped-text-area {
  color: #fdfdff;
  text-align: justify;
  position: relative;
  padding-right: 50px;
  margin-top: -5px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif; }
  .droped-text-area .text {
    overflow-y: scroll;
    max-height: 485px;
    padding-right: 15px;
    margin-bottom: 30px; }
  .droped-text-area .rounded {
    position: absolute;
    right: 0;
    top: 5px; }
  .droped-text-area p {
    margin-bottom: 22px; }

.document-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #504c63;
  padding-bottom: 15px;
  font-size: 13px; }
  .document-info .btn {
    margin-right: 8px; }

.import-area span {
  display: inline-block;
  margin-top: 3px; }

.sidebar {
  width: 22.4%;
  float: right;
  margin-left: 30px; }
  .sidebar img {
    width: 100%;
    display: block; }

.banner-info {
  position: relative;
  margin-bottom: 85px;
  border-radius: 15px;
  overflow: hidden; }
  .banner-info .banner-text {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 0;
    color: #fff;
    z-index: 2; }
  .banner-info .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.65;
    background: linear-gradient(135deg, #9a84ff, #747aff); }
  .banner-info .logo-area {
    width: 60px;
    margin-bottom: 20px;
    border-radius: 13px;
    padding: 10px;
    background: linear-gradient(135deg, #9a84ff, #747aff); }
  .banner-info h2 {
    line-height: 30px; }
  .banner-info .product {
    margin: 0 0 5px 0; }

.aside-info {
  background: #3a3650;
  padding: 8px 15px;
  border-radius: 15px; }
  .aside-info h3 {
    font-size: 20px;
    color: #fdfdff;
    margin-bottom: 20px; }
  .aside-info .title {
    text-transform: uppercase;
    font-size: 10px;
    color: #7b7988;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 4px;
    display: block; }
  .aside-info ul {
    padding-top: 5px; }
    .aside-info ul > li {
      margin-bottom: 6px; }
      .aside-info ul > li:first-child .product-area:after {
        display: none; }
    .aside-info ul .product-area {
      padding-bottom: 7px;
      position: relative; }
      .aside-info ul .product-area:after {
        border-top: 1px solid #504c63;
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: -6px; }

.hidden {
  display: none; }

.insert_drive_file {
  background: linear-gradient(135deg, #fede6b, #ffc27c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.product {
  font-size: 15px;
  line-height: 15px;
  color: #fdfdff;
  position: relative;
  overflow: hidden; }
  .product .img-area {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }
    .product .img-area img {
      display: block;
      width: 100%; }
  .product .logo-area {
    z-index: 1;
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 9px;
    padding: 8px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    background: linear-gradient(135deg, #9a84ff, #747aff); }
    .product .logo-area.passive {
      background: none;
      border: 1px solid #504c63; }
  .product img {
    width: 35px; }
  .product .name {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #fdfdff; }
  .product span {
    font-size: 11px;
    color: #fdfdff;
    font-family: "Ubuntu", sans-serif; }
  .product .btn {
    float: right;
    min-width: 52px;
    text-align: center; }
  .product .product-area {
    z-index: 1;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .product .product-text {
    margin-top: 2px; }

.sidebar .theme {
  display: none; }

.mask {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05); }

.heading-area {
  max-width: 320px;
  margin: 11px auto 20px;
  overflow: hidden;
  position: relative; }
  .heading-area .slick-slider {
    width: 250px; }
  .heading-area .country-list {
    width: 318px;
    white-space: nowrap;
    position: absolute;
    right: -3px;
    top: 0; }
  .heading-area .list-holder {
    position: absolute;
    right: 4px;
    top: 10px;
    width: 42px;
    white-space: nowrap;
    height: 45px;
    overflow: hidden;
    transition: width 0.3s ease; }
    .heading-area .list-holder.open {
      width: 314px; }
    .heading-area .list-holder li {
      margin: 0 2px; }
    .heading-area .list-holder img {
      width: 39px;
      display: inline-block; }
  .heading-area .product {
    padding: 10px;
    background: #3a3650;
    border-radius: 14px; }
  .heading-area .product .product-text {
    width: 130px; }

#scrollbox {
  width: 100% !important; }

@media (max-width: 1500px) {
  .container-lg {
    max-width: 1170px;
    padding: 0 15px; }
  .drag-action {
    height: 350px; }
  .sidebar {
    width: 220px; }
  .banner-info {
    margin-bottom: 12px; }
  .banner-info h2,
  .banner-info .logo-area {
    margin-bottom: 10px; }
  .aside-info h3 {
    font-size: 16px;
    margin-bottom: 5px; }
  .product .name {
    font-size: 12px; }
  .product .logo-area {
    margin-right: 10px; }
  .aside-large {
    width: 230px;
    height: auto; }
  .text-switcher li {
    margin-right: 5px; }
  .drop-drag-holder {
    padding: 15px; }
  .sidebar {
    margin-left: 10px; }
  .drop-drag-holder {
    margin: 0 5px; }
  .drop-drag-area {
    min-height: 370px;
    margin-bottom: 15px; } }

@media (max-width: 1200px) {
  .container-lg {
    max-width: 1024px; }
  .banner-info {
    margin-bottom: 12px; }
  .drop-drag-holder {
    padding: 15px; }
  #footer .copy {
    width: auto; }
  .additional-info {
    width: auto;
    min-width: 0; }
  .content-area {
    margin-bottom: 120px; }
  #scrollbox {
    overflow: auto;
    width: 100%;
    height: 46px !important;
    padding: 0; }
  .vertical-track2 {
    width: 17px;
    background: #e4e6e3;
    border: 1px solid #dfdfdd; }
  .vertical-handle2 {
    width: 17px; }
    .vertical-handle2 .top {
      width: 17px;
      height: 17px; }
    .vertical-handle2 .bottom {
      width: 17px;
      height: 100%;
      position: absolute;
      bottom: 0; }
  .horizontal-track2 {
    width: 100%;
    height: 10px; }
  .horizontal-handle2 {
    height: 5px;
    border-radius: 5px;
    width: 90px !important;
    background: #1f1f1f; }
  .corner2 {
    width: 17px;
    height: 17px;
    background: #e4e6e3;
    border: 1px solid #dfdfdd; } }

@media (max-width: 1024px) {
  .aside-large {
    display: none; } }

@media (max-width: 768px) {
  .content-holder {
    padding: 0; }
  .container-lg {
    background: none; }
  #socials-list {
    display: none; }
  #header {
    display: none; }
  #wrapper {
    background: none; }
  .drop-drag-holder {
    padding: 13px 17px;
    max-width: 320px;
    margin: 0 auto;
    line-height: 18px; }
  .sidebar {
    display: none; }
  .text-switcher {
    overflow: visible; }
  .display-none-xs {
    display: none; }
  .drag-action .drag-title {
    font-size: 20px; }
  .droped-text-area p {
    margin-bottom: 20px; }
  .droped-text-area {
    padding-right: 28px;
    margin-top: 0; }
  .import-area span {
    display: none; }
  .document-info {
    text-align: right; }
    .document-info span {
      display: block; }
  .content-holder,
  .drop-drag-holder {
    overflow: visible; } }

.switch-theme #wrapper {
  background: #edeef0; }

.switch-theme .container-lg {
  background: #fafcff; }

.switch-theme .section-title,
.switch-theme .logo,
.switch-theme .banner-info .banner-info {
  color: #000; }

.switch-theme .logo {
  color: #18132c; }

.switch-theme .section-title,
.switch-theme .title-des {
  color: #19142d; }

.switch-theme .btn.btn-yellow:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

.switch-theme .btn.btn-violet:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

.switch-theme .slider.round:before {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

.switch-theme .drop-drag-holder,
.switch-theme .drag-action,
.switch-theme .aside-info {
  background: #fdfdff;
  color: #231c40; }

.switch-theme .drag-action {
  border: 5px dashed #f1f1f4; }

.switch-theme .droped-text-area {
  color: #231c40; }

.switch-theme .drag-action .drag-title {
  color: #18132c; }

.switch-theme .btn {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05); }
  .switch-theme .btn.btn-violet-passive {
    background: #fff;
    color: #18132c; }
    .switch-theme .btn.btn-violet-passive:hover {
      background: linear-gradient(135deg, #6193fe, #747aff);
      color: #fff; }

.switch-theme .document-info {
  color: #7b7988;
  border-color: #f1f1f4; }

.switch-theme .aside-info .title {
  color: #7b7988; }

.switch-theme .aside-info h3,
.switch-theme .product .name {
  color: #18132c; }

.switch-theme .product span {
  color: #9998a3; }

.switch-theme .aside-info ul .product-area {
  border-color: #f1f1f4; }

.switch-theme .text-switcher li.active .btn {
  color: #fff; }

.switch-theme #footer .copy {
  color: #7b7988; }

.switch-theme .country-list li a {
  color: #19142d; }
  .switch-theme .country-list li a:hover {
    color: #555; }

.switch-theme .additional-info .text {
  color: #19142d; }

.switch-theme .additional-info .text > div {
  color: #19142d; }

.switch-theme .additional-info .name {
  color: #7b7988; }

.switch-theme input:checked + .slider {
  background: #f1f1f1; }

.switch-theme .banner-text .product .name {
  color: #fff; }

.switch-theme .banner-text .product span {
  color: #fff; }

.switch-theme .aside-info ul .product-area:after {
  border-color: #f1f1f4; }

.switch-theme .sidebar .product .logo-area.passive img {
  display: none; }

.switch-theme .sidebar .product .logo-area.passive .theme {
  display: block; }

.switch-theme .product .logo-area.passive {
  border: 1px solid #f1f1f4; }

.switch-theme .modes {
  color: #261e38; }

.switch-theme .nav-page {
  color: #261e38; }

.switch-theme .heading-area .product {
  background: #fefdff; }

@media (max-width: 1200px) {
  .switch-theme .horizontal-handle2 {
    background: #dfdee3; } }

#footer {
  color: #7b7988;
  text-align: center;
  padding: 40px 22px; }
  #footer .copy {
    float: left;
    width: 33%;
    padding-top: 20px;
    font-size: 12px;
    text-align: left; }

.country-list {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  font-size: 9px;
  color: #fff;
  list-style: none; }
  .country-list li {
    margin: 0 8px 0 7px;
    display: inline-block;
    vertical-align: top; }
  .country-list img {
    width: 24px;
    display: inline-block; }

.additional-info {
  width: 33%;
  float: right;
  text-align: right; }
  .additional-info .text {
    overflow: hidden;
    line-height: 15px; }
    .additional-info .text > div {
      font-size: 12px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      display: block;
      color: #fdfdff;
      overflow: hidden; }
  .additional-info .name {
    font-size: 11px;
    color: #7b7988; }
  .additional-info .avatar {
    float: right;
    margin-left: 12px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background: url("images/avatar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
