.container{
  max-width:1470px;
  margin: 0 auto;
}

.container-lg{
  max-width:1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.drop-drag-area{
  margin:0 0 30px;
  min-height:403px;
  line-height:18px;
  font-size: 15px;
}

.drop-drag-holder{
  background: $background-color-box;
  border-radius: 15px;
  padding:30px;
  margin: 0 20px;
  overflow: hidden;
}

.section-text{
  margin:0 0 55px;
  h2{
    margin:0 0 8px;
    color: #fdfdff;
  }
}

.content-area{
  color: $add-text-color;
  margin-bottom:123px;
  @extend %clearfix;
}

.content-holder{
  overflow: hidden;
  padding:5px;
}

.aside-large{
  border-radius: 15px;
  overflow: hidden;
  width:20.5%;
  height:600px;
  float: left;
  margin-bottom:5px;
  margin-top:5px;
}

.text-center{
  text-align: center;
}

.title-des{
  font-size: $font-size-base + 5;
  color: $add-text-color;
}

.text-switcher{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  list-style: none;
  li{
    &.active{
      .btn{
        background: linear-gradient(135deg, #6193fe, #747aff);
      }
    }
  }
  .material-icons{
    font-size: 16px;
  }
  .btn-icons{
    position: relative;
    padding-left:36px;
    .material-icons{
      position: absolute;
      left: 15px;
      top: 7px;
    }
    .content_copy{
      font-size: 12px;
      top: 9px;
    }
  }
}

.drag-action{
  background: #454159;
  height:480px;
  border: 5px dashed #666277;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .drag-title{
    color: $white;
    font-size: 25px;
    margin:8px 0;
    letter-spacing:-1px;
  }
  .material-icons{
    font-size: 39px;
    margin:0 0 15px;
  }
  p{
    margin:0;
    font-size: 13px;
    font-family: $headings-font-family;
    font-weight:700;
    color: #6390fe;
  }
}

.droped-text-area{
  color: #fdfdff;
  text-align: justify;
  position: relative;
  padding-right: 50px;
  margin-top:-5px;
  font-size: 14px;
  font-family: $headings-font-family;
  .text{
    overflow-y: scroll;
    max-height:485px;
    padding-right: 15px;
    margin-bottom:30px;
  }
  .rounded{
    position: absolute;
    right: 0;
    top: 5px;
  }
  p{
    margin-bottom:22px;
  }
}

.document-info{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
  border-bottom: 1px solid #504c63;
  padding-bottom:15px;
  font-size: 13px;
  .btn{
    margin-right:8px;
  }
}

.import-area{
  span{
    display: inline-block;
    margin-top:3px;
  }
}

.sidebar{
  width:22.4%;
  float: right;
  margin-left:30px;
  img{
    width:100%;
    display: block;
  }
}

.banner-info{
  position: relative;
  margin-bottom:85px;
  border-radius: 15px;
  overflow: hidden;
  .banner-text{
    position: absolute;
    left: 15px;
    right:15px;
    top: 15px;
    bottom: 0;
    color: $white;
    z-index: 2;
  }
  .overlay{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity:0.65;
    background: linear-gradient(135deg, #9a84ff, #747aff);
  }
  .logo-area{
    width:60px;
    margin-bottom:20px;
    border-radius: 13px;
    padding:10px;
    background: linear-gradient(135deg, #9a84ff, #747aff);
  }
  h2{
    line-height:30px;
  }
  .product{
    margin:0 0 5px 0;
  }
}

.aside-info{
  background: $background-color-box;
  padding:8px 15px;
  border-radius: 15px;
  h3{
    font-size: 20px;
    color: #fdfdff;
    margin-bottom:20px;
  }
  .title{
    text-transform: uppercase;
    font-size: 10px;
    color: #7b7988;
    font-family: $headings-font-family;
    margin-bottom:4px;
    display: block;
  }
  ul{
    padding-top:5px;
    >li{
      margin-bottom:6px;
      &:first-child{
        .product-area{
          &:after{
            display: none;
          }
        }
      }
    }
    .product-area{
      padding-bottom:7px;
      position: relative;
      &:after{
        border-top: 1px solid #504c63;
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: -6px;
      }
    }
  }
}

.hidden{
  display: none;
}

.insert_drive_file{
  background: -webkit-linear-gradient(135deg, #fede6b, #ffc27c);
  background: linear-gradient(135deg, #fede6b, #ffc27c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product{
  font-size: 15px;
  line-height:15px;
  color: #fdfdff;
  position: relative;
  @extend %clearfix;
  overflow: hidden;
  .img-area{
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index:0;
    img{
      display: block;
      width:100%;
    }
  }
  .logo-area{
    z-index:1;
    position: relative;
    width:34px;
    height:34px;
    border-radius: 9px;
    padding:8px;
    overflow: hidden;
    float: left;
    margin-right:15px;
    background: linear-gradient(135deg, #9a84ff, #747aff);
    &.passive{
      background: none;
      border: 1px solid #504c63;
    }
  }
  img{
    width:35px;
  }
  .name{
    font-family: $headings-font-family;
    font-weight:700;
    color: #fdfdff;
  }
  span{
    font-size: 11px;
    color: #fdfdff;
    font-family: $headings-font-family;
  }
  .btn{
    float: right;
    min-width:52px;
    text-align: center;
  }
  .product-area{
    z-index:1;
    position: relative;
    @extend %clearfix;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-text{
    margin-top:2px;
  }
}

.sidebar{
  .theme{
    display: none;
  }
}

.mask{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.heading-area{
  max-width:320px;
  margin:11px auto 20px;
  overflow: hidden;
  display: none;
  position: relative;
  .slick-slider{
    width:250px;
  }
  .country-list {
    width: 318px;
    white-space: nowrap;
    position: absolute;
    right: -3px;
    top: 0;
  }
  .list-holder{
    position: absolute;
    right: 4px;
    top: 10px;
    width:42px;
    white-space: nowrap;
    height:45px;
    overflow: hidden;
    transition: width 0.3s ease;
    &.open{
      width: 314px;
    }
    li {
      margin: 0 2px;
    }
    img {
      width: 39px;
      display: inline-block;
    }
  }
  .product{
    padding:10px;
    background: #3a3650;
    border-radius: 14px;
  }
  .product .product-text {
    width: 130px;
  }
}

#scrollbox{
  //overflow-x: scroll;
  width: 100% !important;
}

@media (max-width: 1500px) {
  .container-lg{
    max-width: 1170px;
    padding:0 15px;
  }
  .drag-action{
    height: 350px;
  }
  .sidebar {
    width: 220px;
  }
  .banner-info {
    margin-bottom: 12px;
  }
  .banner-info{
    h2,
    .logo-area{
      margin-bottom:6px;
    }
  }
  .aside-info{
    h3 {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
  .product{
    .name{
      font-size: 12px;
    }
    .logo-area{
      margin-right: 10px;
    }
  }
  .aside-large {
    width: 230px;
    height: auto;
  }
  .text-switcher{
    //overflow: scroll;
    li{
      margin-right:5px;
    }
  }
  .drop-drag-holder{
    padding:15px;
  }
  .sidebar {
    margin-left: 10px;
  }
  .drop-drag-holder{
    margin:0 5px;
  }
  .drop-drag-area {
    min-height: 370px;
    margin-bottom:15px;
  }
}

@media (max-width: 1200px) {
  .container-lg{
    max-width: 1024px;
  }
  .banner-info {
    margin-bottom: 12px;
  }
  .drop-drag-holder {
    padding: 15px;
  }
  #footer{
    .copy{
      width: auto;
    }
  }
  .additional-info{
    width: auto;
    min-width:0;
  }
  .content-area {
    margin-bottom: 120px;
  }
  #scrollbox {
    overflow: auto;
    width: 100%;
    height: 46px !important;
    padding: 0;
  }
  .vertical-track2 {
    width: 17px;
    background: #e4e6e3;
    border: 1px solid #dfdfdd;
  }
  .vertical-handle2 {
    width: 17px;
    .top {
      width: 17px;
      height: 17px;
    }
    .bottom {
      width: 17px;
      height: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  .horizontal-track2 {
    width: 100%;
    height: 10px;
  }
  .horizontal-handle2 {
    height: 5px;
    border-radius: 5px;
    width:90px !important;
    background: $black;
  }
  .corner2 {
    width: 17px;
    height: 17px;
    background: #e4e6e3;
    border: 1px solid #dfdfdd;
  }
}

@media (max-width: 1024px) {
  .aside-large{
    display: none;
  }
}

@media (max-width: 768px) {
  .content-holder{
    padding:0;
  }
  .container-lg{
    background: none;
  }
  .heading-area{
    display: block;
  }
  #socials-list{
    display: none;
  }
  #header{
    display: none;
  }
  #wrapper{
    background: none;
  }
  .drop-drag-holder{
    padding:13px 17px;
    max-width: 320px;
    margin:0 auto;
    line-height: 18px;
  }
  .sidebar{
    display: none;
  }
  .text-switcher {
    overflow: visible;
  }
  .display-none-xs{
    display: none;
  }
  .drag-action .drag-title{
    font-size: 20px;
  }
  .droped-text-area p {
    margin-bottom: 20px;
  }
  .droped-text-area {
    padding-right: 28px;
    margin-top: 0;
  }
  .import-area span{
    display: none;
  }
  .document-info{
    text-align: right;
    span{
      display: block;
    }
  }
  .content-holder,
  .drop-drag-holder{
    overflow: visible;
  }
  .droped-text-area .rounded {
    right: 7px;
    padding: 5px;
    width:20px;
    height:20px;
    .fa{
      font-size: 11px;
      margin: -6px 0 0 -5px;
    }
  }
}

